node_modules
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Vaadin ###
target
frontend
**/package-lock.json
**/package.json
scripts/generator/results
scripts/generator/yarn-error.log
**/webpack.config.js
**/*.generated.js
**/pnpm-lock.yaml
**/pnpmfile.js
**/tsconfig.json
**/types.d.ts
**/.npmrc
bin/
vaadin-bom/pom.xml
hilla-bom/pom.xml
vaadin-spring-bom/pom.xml
vaadin-maven-plugin/pom.xml
hilla-maven-plugin/pom.xml
vaadin-gradle-plugin/pom.xml
vaadin-gradle-plugin/pom*xml
vaadin-maven-plugin/src/main
vaadin-maven-plugin/bin
vaadin-maven-plugin/.factorypath
hilla-maven-plugin/src/main
hilla-maven-plugin/bin
hilla-maven-plugin/.factorypath
vaadin-gradle-plugin/build
vaadin-platform-gradle-test/build
vaadin-gradle-plugin/.gradle
vaadin-gradle-plugin/src/main
vaadin-platform-gradle-test/.gradle
